<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MaxLoansToUpdate" value="1" />
		<!--Encompass Connection-->
		<add key="EncompassEnvironment" value="PROD" />
		<add key="PRODServer" value="https://BE799583.ea.elliemae.net$BE799583" />
		<add key="UATServer" value="https://TEBE11204678.ea.elliemae.net$TEBE11204678" />
		<add key="UserName" value="acan" />
		<add key="PW" value="" />
		<!--Reporting-->
		<add key="ACaNReport" value="S:\Origination\Automated Disclosures\ACaN Reports\ACaN.Updated.Loans.csv" />
		<add key="ACaNLog" value="S:\Origination\Automated Disclosures\ACaN Reports\ACaN.Session.log.txt" />
		<add key="PostgresInFile" value="S:\Origination\Automated Disclosures\ACaN Reports\In\ACaN.Updated.Loans." />
		<!--Sources-->
		<add key="BorrowerSODSource" value=".\Resources\BorrNOAPackage.pdf"/>
		<add key="BorrowerH5EquifaxSource" value=".\Resources\BorrH5Equifax.pdf"/>
		<add key="BorrowerH5EExperianSource" value=".\Resources\BorrH5Experian.pdf"/>
		<add key="BorrowerH5TransUnionSource" value=".\Resources\BorrH5TransUnion.pdf"/>
		<add key="CoBorrowerSODSourceSource" value=".\Resources\CoBorrNOAPackage.pdf"/>
		<add key="CoBorrowerH5EquifaxSource" value=".\Resources\CoBorrH5Equifax.pdf"/>
		<add key="CoBorrowerH5EExperianSource" value=".\Resources\CoBorrH5Experian.pdf"/>
		<add key="CoBorrowerH5TransUnionSource" value=".\Resources\CoBorrH5TransUnion.pdf"/>
		<!--Temp Names and Destinations-->
		<add key="TempDestinationPath" value="S:\Origination\Automated Disclosures\Temp\"/>
		<add key="BorrowerSODTemp" value="BorrSODTemp.pdf"/>
		<add key="BorrowerH5EquifaxTemp" value="BorrH5EquifaxTemp.pdf"/>
		<add key="BorrowerH5EExperianTemp" value="BorrH5ExperianTemp.pdf"/>
		<add key="BorrowerH5TransUnionTemp" value="BorrH5TransUnionTemp.pdf"/>
		<add key="CoBorrowerSODTemp" value="CoBorrSODTemp.pdf"/>
		<add key="CoBorrowerH5EquifaxTemp" value="CoBorrH5EquifaxTemp.pdf"/>
		<add key="CoBorrowerH5EExperianTemp" value="CoBorrH5ExperianTemp.pdf"/>
		<add key="CoBorrowerH5TransUnionTemp" value="CoBorrH5TransUnionTemp.pdf"/>
		<!--Final Destination Path-->
		<!--add key="FinalDestinationPath" value="S:\Origination\Automated Disclosures\Notice of Actions\"/-->
		<!--add key="FinalDestinationPath" value="S:\Origination\Automated Disclosures\Notice of Actions\TestPdfsLocation\"/-->
		<add key="FinalDestinationPath" value="C:\Bot\Notice of Actions\"/>
		<add key="" value=""/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>